<h1><%= @board.title %> Lists</h1>
<%= link_to 'Add List', new_board_list_path(@board) %>
<hr />

<% @lists.each do |list| %>
  <div>
    <h3><%= link_to list.title, [@board, list] %></h3>
  </div>
<% end %>