<h1><%= link_to @list.title, list_tasks_path(@list) %></h1>

<%= link_to edit_board_list_path(@board) do %>
  <i class="ui pencil blue icon large"></i> | 
<% end %>
<%= link_to [@board, @list], method: :delete do %>
  <i class="ui trash red icon large"></i>
<% end %>