<h1><%= @list.title %></h1>

<%= link_to edit_board_list_path(@board) do %>
  <i class="ui pencil blue icon large"></i> | 
<% end %>
<%= link_to board_lists_path(@board) do %>
  <i class="ui trash red icon large"></i>
<% end %>