<h1><%= link_to @board.title, board_lists_path(@board) %></h1>
<%= link_to 'Add List', new_board_list_path(@board) %>
<div class="ui divider"></div>

<%= link_to edit_board_path(@board) do %>
  <i class="ui pencil blue icon large"></i> | 
<% end %>
<%= link_to @board, method: :delete do %>
  <i class="ui trash red icon large"></i>
<% end %>